@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-form{
    margin: 50px 0; 
}
h1 {
    font-weight: 700;
    font-size: 38px;
    color: #333;
    margin-top: 170px;
}
hr{
    width: 40px;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #ffa200;
    margin-top: 25px;
}

.main-form .form-content{
    border: 1px solid #dfe4ea;
    border-radius: 4px;
    padding: 30px;
}